body.theme_test {
  header .navigation {
    //Цвет меню
    background-color: rgba(234,142,251,1);
  }
  header .navigation menu a, menu span {
    &:hover {
      background-color: rgb(234,1,223);
    }
  }
  header .navigation menu a {
    &:first-child{
      &:hover:before {
        background-color: rgb(234,1,223);
      }
    }
  }
  header .navigation menu nav.sub {
    background-color: rgb(234,1,223);
    a:hover {
      background-color: rgba(0,0,0,.5);
    }
  }
  .button {
    background-color: rgba(234,142,251,1);
  }
  .button:hover {
    background-color: rgb(234,1,223);
  }
  .border_title, .border_box {
    border-color:rgb(234,1,223);
  }
  .category .cards .item:hover .title {
    color: rgb(234,1,223);
  }
  .form .container {
    background-color: rgb(234,1,223);
  }
  .form:hover {
    .border_box {
      background-color: rgb(234,1,223);
    }
    .button {
      background-color: rgba(0,0,0,.2);
      color: rgba(255,255,255,1);
      &:hover {
        background-color: rgba(0,0,0,.5);
      }
    }
    .phone svg .icon {
        fill: rgb(234,1,223);
    }
  }
  .comments {
    .owl-comments {
      border-color: rgb(234,1,223);
    }
    .owl-nav [class*='owl-']:hover {
      svg {
        fill: rgb(234,1,223);
      }
    }
  }
  .how_start .step {
    color: rgb(234,1,223);
  }
  .contacts {
    .general {
      background-color: rgb(234,1,223);
    }
  }
  footer {
    background-color: rgba(234,142,251,1);
  }
  footer .navigation.bottom {
    background-color: rgb(234,1,223);
  }
}