@@include('./templates/header.html')
<body>
@@include('./templates/svg.html')
<div class="background" style="background-image: url(img/bg1.jpg);">
    <div class="filter" style="background-color: rgba(9,38,60,.8)"></div>
</div>
<header>
    <div class="navigation top">
        <menu>
            <a href="#catalog">
                <svg><use xlink:href="#square-all-full"></use></svg>
                Каталог
            </a>
            <a href="#boxcomments">Отзывы</a>
            <a href="#scheme">Схема работы</a>
            <a href="#delivery">Доставка</a>
            <a href="#boxcomments" class="other">Отзывы2</a>
            <a href="#scheme" class="other">Схема работы2</a>
            <a href="#delivery" class="other">Доставка2</a>
            <span class="more" href="#">
                Еще<svg><use xlink:href="#icon_dot"></use></svg>
                <nav class="sub">
                    <a href="#boxcomments">Отзывы2</a>
                    <a href="#scheme">Схема работы2</a>
                    <a href="#delivery">Доставка2</a>
                </nav>
            </span>
        </menu>
    </div>
    <div class="row">
        <div class="large-7 columns logo">
            <a href="#">
            </a>
            <h2>Комплектуем  муниципальные и государственные учреждения спортивным оборудованием</h2>
        </div>
        <div class="large-5 columns callbacks">
            <a href="mailto:rt@zakupki-sport.com">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                    <g id="icon_mail">
                        <path d="M22.510,20.997 L1.503,20.997 C0.674,20.997 0.002,20.327 0.002,19.498 L0.002,6.747 L12.006,16.497 L24.010,6.724 L24.010,19.498 C24.010,20.327 23.339,20.997 22.510,20.997 ZM0.002,4.497 C0.002,3.669 0.674,2.997 1.503,2.997 L22.510,2.997 C23.339,2.997 24.010,3.669 24.010,4.497 L12.006,14.247 L0.002,4.497 Z" class="icon"/>
                    </g>
                </svg>
                rt@zakupki-sport.com
                <span>электронная почта</span>
            </a>
            <a href="tel:88003501056">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                    <g id="icon_mail">
                        <path d="M7.999,0.561 L10.749,3.972 C11.258,4.604 11.128,5.502 10.459,5.984 L8.426,7.454 C9.089,8.728 10.340,10.570 11.716,12.275 C13.060,13.942 14.639,15.611 15.764,16.554 L17.798,15.080 C18.464,14.598 19.414,14.716 19.923,15.346 L22.673,18.757 C23.179,19.386 23.050,20.282 22.384,20.764 L18.765,23.382 C17.217,24.502 15.775,23.740 15.775,23.740 C12.791,21.972 10.058,19.692 6.891,15.763 C3.709,11.820 2.119,8.741 1.103,5.549 C1.103,5.549 0.655,4.072 2.256,2.912 L5.877,0.297 C6.543,-0.183 7.490,-0.067 7.999,0.561 Z" class="icon"/>
                    </g>
                </svg>
                8 800 350 10 56
                <span>звонок по РФ бесплатный</span>
            </a>
        </div>
    </div>
</header>
<a href="#top" class="scroll_to_top">
    В начало
    <div class="circle">
        <svg><use xlink:href="#icon_arrow_right"></use></svg>
    </div>
</a>
<section class="advantages_slider">
    <div id="advantages_slider" class="row owl-carousel advantages_theme">
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
    </div>
</section>
<section id="top" class="firstscreen">
    <div class="filter">
        <div id="toptitle" class="row align-middle title">
            <div class="column large-9">
                <h1>Спортивное оборудование и инвентарь для школ в Красноярске</h1>
                <div class="description">
                    Комплектуем  муниципальные и государственные учреждения спортивным оборудованием
                </div>
                <a href="#catalog" class="button red icon top">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <g id="icon_mail">
                            <path d="M23.956,6.252 C23.878,6.577 21.750,16.497 21.750,16.497 C21.562,17.317 21.079,17.997 20.249,17.997 L6.749,17.997 C5.921,17.997 5.402,17.399 5.250,16.497 L3.225,2.997 L1.500,2.997 C0.670,2.997 -0.000,2.326 -0.000,1.497 C-0.000,0.668 0.670,-0.003 1.500,-0.003 L4.500,-0.003 C5.329,-0.003 5.777,0.547 6.000,1.497 L6.451,4.497 L22.500,4.497 C23.329,4.497 24.211,5.165 23.956,6.252 ZM8.250,19.497 C9.492,19.497 10.500,20.505 10.500,21.747 C10.500,22.988 9.492,23.997 8.250,23.997 C7.007,23.997 6.000,22.988 6.000,21.747 C6.000,20.505 7.007,19.497 8.250,19.497 ZM18.749,19.497 C19.992,19.497 21.000,20.505 21.000,21.747 C21.000,22.988 19.992,23.997 18.749,23.997 C17.507,23.997 16.500,22.988 16.500,21.747 C16.500,20.505 17.507,19.497 18.749,19.497 Z" class="cls-1"/>
                        </g>
                    </svg>
                    Каталог товаров
                </a>
                <a href="#form1" class="button icon">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <g id="icon_mail">
                            <path d="M22.499,-0.003 L1.499,-0.003 C0.670,-0.003 -0.000,0.668 -0.000,1.497 L-0.000,16.497 C-0.000,17.326 0.670,17.997 1.499,17.997 L8.999,17.997 L11.999,23.996 L14.999,17.997 L22.499,17.997 C23.328,17.997 24.000,17.326 24.000,16.497 L24.000,1.497 C24.000,0.668 23.328,-0.003 22.499,-0.003 ZM18.000,11.997 L6.000,11.997 L6.000,10.497 L18.000,10.497 L18.000,11.997 ZM18.000,7.497 L6.000,7.497 L6.000,5.997 L18.000,5.997 L18.000,7.497 Z" class="cls-1"/>
                        </g>
                    </svg>
                    Оформить заявку
                </a>
            </div>
        </div>
        <div id="title_advantages" class="row advantages">
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_1.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_2.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Оформление документов
                    <span>
                        Всю бумажную работу сделаем за Вас
                    </span>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_3.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Система скидок
                    <span>
                        Индивидуальные условия и подарки
                    </span>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_4.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_5.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Оформление документов
                    <span>
                        Всю бумажную работу сделаем за Вас
                    </span>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_6.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Система скидок
                    <span>
                        Индивидуальные условия и подарки
                    </span>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_7.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_8.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Оформление документов
                    <span>
                        Всю бумажную работу сделаем за Вас
                    </span>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="row align-middle">
                    <div class="column large-3">
                        <div class="icon">
                            <img src="img/icon_advantage_9.png">
                        </div>
                    </div>
                    <div class="column large-9 title">
                        Система скидок
                    <span>
                        Индивидуальные условия и подарки
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="large-12 columns simple_title">
            Преимущества работы с нами
        </div>
    </div>
     <div class="row advantages fill">
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_1_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
                 </div>
             </div>
         </div>
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_2_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Оформление документов
                    <span>
                        Всю бумажную работу сделаем за Вас
                    </span>
                 </div>
             </div>
         </div>
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_3_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Система скидок
                    <span>
                        Индивидуальные условия и подарки
                    </span>
                 </div>
             </div>
         </div>
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_4_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Правовая помощь
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
                 </div>
             </div>
         </div>
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_5_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Оформление документов
                    <span>
                        Всю бумажную работу сделаем за Вас
                    </span>
                 </div>
             </div>
         </div>
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_6_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Система скидок
                    <span>
                        Индивидуальные условия и подарки
                    </span>
                 </div>
             </div>
         </div>
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_7_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
                 </div>
             </div>
         </div>
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_8_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Оформление документов
                    <span>
                        Всю бумажную работу сделаем за Вас
                    </span>
                 </div>
             </div>
         </div>
         <div class="large-4 columns">
             <div class="row align-middle">
                 <div class="column large-12">
                     <div class="icon">
                         <img src="img/icon_advantage_9_blue.png">
                     </div>
                 </div>
                 <div class="column large-12 title">
                     Система скидок
                    <span>
                        Индивидуальные условия и подарки
                    </span>
                 </div>
             </div>
         </div>
     </div>
</section>
<div id="start_point" data-ident="400"></div>
<section id="catalog" class="grey catalog">
    <div class="row">
        <div class="large-12 columns">
            <div class="border_title">
                <h3 class="handler">Каталог товаров</h3>
                В каталоге представлено только <b>36</b> из <b>25 000</b> товаров. Напишите в онлайн-консультант или позвоните и мы подберём Вам инвентарь.
            </div>
        </div>
    </div>
    <div class="row cards">
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="http://zs.314zdato.ru/upload/resize_cache/iblock/981/200_200_1/981d9374ba04d21e642ce860f0ea0e96.jpg">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <!--<div class="sale">7%</div>-->
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<!--<span>100 000₽</span>--></div>
                <a class="title">Брусья гимнастические </a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <!--<div class="sale">7%</div>-->
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<!--<span>100 000₽</span>--></div>
                <a class="title">Брусья гимнастические </a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns text-center">
            <button class="button" id="more">
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                </div>
                Смотреть еще
            </button>
        </div>
    </div>
</section>
<div id="stop_point" data-ident="160"></div>
<section id="form1" class="grey form">
    <div class="row">
        <div class="large-12 columns border_box">
            <div class="row">
                <div class="large-6 columns description">
                    <div class="container">
                        <div class="title">
                            25 000 товаров по 166 видам спорта!
                        </div>
                        <ul>
                            <li>Признанные виды спорта</li>
                            <li>Общероссийские виды спорта</li>
                            <li>Национальные виды спорта</li>
                            <li>Прикладные виды спорта</li>
                        </ul>
                    </div>
                </div>
                <div class="large-6 columns inputs">
                    Оставьте заявку и  мы перезвоним вам через 2 минуты
                    <form class="row">
                        <div class="large-6 columns">
                            <input placeholder="Ваше имя">
                        </div>
                        <div class="large-6 columns">
                            <input placeholder="Номер телефона">
                        </div>
                        <div class="large-12 columns">
                            <button class="button">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="boxcomments" class="comments">
    <div class="row align-center">
        <div class="large-10 columns centered container">
            <h3 class="handler">Что о нас говорят</h3>
            <div id="comments" class="owl-carousel owl-comments">
                <div class="row collapse align-middle">
                    <div class="columns large-9 text">
                        Выражаем особую благодарность коллективу «Закупки-спорт» за добросовестную поставку спортивного оборудования. Полученный спортивный инвентарь - отличного качества и соответствует  всем нашим требованиям. Спасибо за помощь в подборе необходимого оборудования.
                        <div class="who">Администрация Сковородинского района </div>
                        <div class="location">Амурская область, г. Сковородино</div>
                    </div>
                    <div class="columns large-3 image">
                        <a data-open="exampleModal1">
                            <img src="http://dongau.ru.images.1c-bitrix-cdn.ru/upload/medialibrary/8a1/%D0%B0%D0%BF%D1%80%D0%B5%D0%BB%D1%8C%202014%D0%B3.%20%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%B8%D1%81%D1%8C%D0%BC%D0%BE%20%D1%80%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%B0%20%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%BE%D0%B9%20%D0%B3%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9%20%D0%B0%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D0%B8%D0%B8%20%D0%B2%D0%B5%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B0%D1%80%D0%BD%D0%BE%D0%B9%20%D0%BC%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%BD%D1%8B.jpg?1413128785385149">
                        </a>
                    </div>
                </div>
                <div class="row collapse align-middle">
                    <div class="columns large-9 text">
                        Выражаем особую благодарность коллективу «Закупки-спорт» за добросовестную поставку спортивного оборудования. Полученный спортивный инвентарь - отличного качества и соответствует  всем нашим требованиям. Спасибо за помощь в подборе необходимого оборудования.
                        Выражаем особую благодарность коллективу «Закупки-спорт» за добросовестную поставку спортивного оборудования. Полученный спортивный инвентарь - отличного качества и соответствует  всем нашим требованиям. Спасибо за помощь в подборе необходимого оборудования.
                        Выражаем особую благодарность коллективу «Закупки-спорт» за добросовестную поставку спортивного оборудования. Полученный спортивный инвентарь - отличного качества и соответствует  всем нашим требованиям. Спасибо за помощь в подборе необходимого оборудования.
                        Выражаем особую благодарность коллективу «Закупки-спорт» за добросовестную поставку спортивного оборудования. Полученный спортивный инвентарь - отличного качества и соответствует  всем нашим требованиям. Спасибо за помощь в подборе необходимого оборудования.
                    </div>
                    <div class="columns large-3 image">
                        <a href="#">
                            <img src="http://dongau.ru.images.1c-bitrix-cdn.ru/upload/medialibrary/8a1/%D0%B0%D0%BF%D1%80%D0%B5%D0%BB%D1%8C%202014%D0%B3.%20%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%B8%D1%81%D1%8C%D0%BC%D0%BE%20%D1%80%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%B0%20%D0%A3%D1%80%D0%B0%D0%BB%D1%8C%D1%81%D0%BA%D0%BE%D0%B9%20%D0%B3%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B9%20%D0%B0%D0%BA%D0%B0%D0%B4%D0%B5%D0%BC%D0%B8%D0%B8%20%D0%B2%D0%B5%D1%82%D0%B5%D1%80%D0%B8%D0%BD%D0%B0%D1%80%D0%BD%D0%BE%D0%B9%20%D0%BC%D0%B5%D0%B4%D0%B8%D1%86%D0%B8%D0%BD%D1%8B.jpg?1413128785385149">
                        </a>
                    </div>
                </div>
                <div class="row collapse align-middle">
                    <div class="columns large-9 text">
                        Выражаем особую благодарность коллективу «Закупки-спорт» за добросовестную поставку спортивного оборудования. Полученный спортивный инвентарь - отличного качества и соответствует  всем нашим требованиям. Спасибо за помощь в подборе необходимого оборудования.

                    </div>
                    <div class="columns large-3 image">
                        <a href="#">
                            <img src="http://www.radmed.ru/images/%D0%91%D0%BB%D0%B0%D0%B3%D0%BE%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2%D0%B5%D0%BD%D0%BD%D0%BE%D0%B5%20%D0%BF%D0%B8%D1%81%D1%8C%D0%BC%D0%BE.jpg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="scheme" class="grey how_start">
    <div class="row">
        <div class="large-12 columns simple_title">
            Как начать работу с нами
        </div>
    </div>
    <div class="row steps">
        <div class="large-4 columns">
            <div class="step">01<span>шаг</span></div>
            <div class="text">
                Помогаем Вам подобрать инвентарь и оборудование
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">02<span>шаг</span></div>
            <div class="text">
                Предоставляем коммерческие предложения
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">03<span>шаг</span></div>
            <div class="text">
                Составляем договор поставки в соответствии с ФЗ-44 и ФЗ-223
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">04<span>шаг</span></div>
            <div class="text">
                Даём отсрочку платежа до 50 дней
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">05<span>шаг</span></div>
            <div class="text">
                Поставляем вам заказ, где бы вы не находились
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">06<span>шаг</span></div>
            <div class="text">
                Предоставляем сертификаты соответствия и гарантии на товар до 24 месяцев ФЗ-223
            </div>
        </div>
    </div>
</section>
<section class="grey form">
    <div class="row">
        <div class="large-12 columns border_box">
            <div class="row">
                <div class="large-6 columns description">
                    <div class="container">
                        <div class="title">
                            Наши специалисты прямо сейчас готовы подобрать Вам оборудование
                        </div>
                        <a href="tel:88003501056" class="phone">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                                <g id="icon_mail">
                                    <path d="M7.999,0.561 L10.749,3.972 C11.258,4.604 11.128,5.502 10.459,5.984 L8.426,7.454 C9.089,8.728 10.340,10.570 11.716,12.275 C13.060,13.942 14.639,15.611 15.764,16.554 L17.798,15.080 C18.464,14.598 19.414,14.716 19.923,15.346 L22.673,18.757 C23.179,19.386 23.050,20.282 22.384,20.764 L18.765,23.382 C17.217,24.502 15.775,23.740 15.775,23.740 C12.791,21.972 10.058,19.692 6.891,15.763 C3.709,11.820 2.119,8.741 1.103,5.549 C1.103,5.549 0.655,4.072 2.256,2.912 L5.877,0.297 C6.543,-0.183 7.490,-0.067 7.999,0.561 Z" class="icon"/>
                                </g>
                            </svg>
                            8 800 350 10 56
                            <span>звонок по РФ бесплатный</span>
                        </a>
                    </div>
                </div>
                <div class="large-6 columns inputs">
                    Оставьте заявку и  мы перезвоним вам через 2 минуты
                    <form class="row">
                        <div class="large-6 columns">
                            <input placeholder="Ваше имя">
                        </div>
                        <div class="large-6 columns">
                            <input placeholder="Номер телефона">
                        </div>
                        <div class="large-12 columns">
                            <button class="button">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="universal grey">
    <div class="row">
        <div class="large-12 columns simple_title">
            Универсальный блок
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
        </div>
    </div>
</section>
<section>
    <div class="row align-center">
        <div class="large-8 columns">
            <div class="row border_box list_1">
                <div class="free_title">Кому мы можем быть полезны</div>
                <div class="large-6 columns">
                    <span>Общеобразовательные школы</span>
                </div>
                <div class="large-6 columns">
                    <span>Военно-спортивные лагеря</span>
                </div>
                <div class="large-6 columns">
                    <span>Физкультурно-оздоровительные комплексы</span>
                </div>
                <div class="large-6 columns">
                    <span>Администрации</span>
                </div>
                <div class="large-6 columns">
                    <span>Детские сады</span>
                </div>
                <div class="large-6 columns">
                    <span>Средние-специальные и высшие учебные заведения</span>
                </div>
                <div class="large-6 columns">
                    <span>Общеобразовательные школы</span>
                </div>
                <div class="large-6 columns">
                    <span>Общеобразовательные школы</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="delivery" class="delivery">
    <div class="row">
        <div class="large-12 columns simple_title">
            Доставим товар в любую точку России
        </div>
    </div>
    <div class="map">
        <div id="map" style="width: 100%; height: 100%"></div>

        <!--Скрипт отсюда можно выкинуть, если поместишь все в отдельный файл-->
    </div>
    <div class="row collapse contacts">
        <div class="large-3 columns general">
             <div class="title">
                 Центральный офис
             </div>
            <div class="item">
                <svg><use xlink:href="#icon_point_star_white"></use></svg>
                Наш адрес:
                <div class="content">
                    г.Тюмень, ул. Авторемонтная 18/5
                </div>
            </div>
            <div class="item">
                <svg><use xlink:href="#icon_tel"></use></svg>
                Телефон:
                <div class="content">
                    <a href="tel:8800">
                        8 800 350-10-56
                    </a>
                </div>
            </div>
            <div class="item">
                <svg><use xlink:href="#icon_mail_white"></use></svg>
                Наш адрес:
                <div class="content">
                    <a href="mailto:rt@zakupki-sport.com">
                        rt@zakupki-sport.com
                    </a>
                </div>
            </div>
        </div>
        <div class="large-9 columns others">
            <div class="row">
                <div class="large-4 columns">
                    <div class="city">
                        <svg><use xlink:href="#icon_point_dot"></use></svg>
                        Москва
                        <span id="moscow">Показать на карте</span>
                    </div>
                    <div class="phone">
                        <svg><use xlink:href="#icon_tel_blue"></use></svg>
                        8 800 350-10-56
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="city">
                        <svg><use xlink:href="#icon_point_dot"></use></svg>
                        Екатеринбург
                        <span id="moscow">Показать на карте</span>
                    </div>
                    <div class="phone">
                        <svg><use xlink:href="#icon_tel_blue"></use></svg>
                        8 800 350-10-56
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="city">
                        <svg><use xlink:href="#icon_point_dot"></use></svg>
                        Санкт-Петербург
                        <span id="moscow">Показать на карте</span>
                    </div>
                    <div class="phone">
                        <svg><use xlink:href="#icon_tel_blue"></use></svg>
                        8 800 350-10-56
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="city">
                        <svg><use xlink:href="#icon_point_dot"></use></svg>
                        Норильск
                        <span id="moscow">Показать на карте</span>
                    </div>
                    <div class="phone">
                        <svg><use xlink:href="#icon_tel_blue"></use></svg>
                        8 800 350-10-56
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="city">
                        <svg><use xlink:href="#icon_point_dot"></use></svg>
                        Архангельск
                        <span id="moscow">Показать на карте</span>
                    </div>
                    <div class="phone">
                        <svg><use xlink:href="#icon_tel_blue"></use></svg>
                        8 800 350-10-56
                    </div>
                </div>
                <div class="large-4 columns">
                    <div class="city">
                        <svg><use xlink:href="#icon_point_dot"></use></svg>
                        Владивосток
                        <span id="moscow">Показать на карте</span>
                    </div>
                    <div class="phone">
                        <svg><use xlink:href="#icon_tel_blue"></use></svg>
                        8 800 350-10-56
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="consult" class="consult">
    <div class="row">
        <div class="large-12 columns simple_title">
            Консультация специалиста
        </div>
    </div>
    <div class="row align-middle">
        <div class="large-7 columns">
            <div id="consult_slider" class="owl-carousel owl-consult">
                <div class="container">
                    <div class="photo">
                        <img src="img/manager-vedees.png">
                    </div>
                    <div class="contact">
                        <div class="name">
                            Иванов Дмитрий Евгеньевич
                        </div>
                        <div class="description">
                            Ваш менеджер
                        </div>
                        <div class="phone">
                            <svg><use xlink:href="#icon_tel_blue"></use></svg>
                            8 800 350-10-56
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="photo">
                        <img src="img/manager-vedees.png">
                    </div>
                    <div class="contact">
                        <div class="name">
                            Иванов Дмитрий Евгеньевич
                        </div>
                        <div class="description">
                            Ваш менеджер
                        </div>
                        <div class="phone">
                            <svg><use xlink:href="#icon_tel_blue"></use></svg>
                            8 800 350-10-56
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="photo">
                        <img src="img/manager-vedees.png">
                    </div>
                    <div class="contact">
                        <div class="name">
                            Иванов Дмитрий Евгеньевич
                        </div>
                        <div class="description">
                            Ваш менеджер
                        </div>
                        <div class="phone">
                            <svg><use xlink:href="#icon_tel_blue"></use></svg>
                            8 800 350-10-56
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="large-5 columns">
            <form class="row">
                <div class="large-12 columns">
                    Звоните нам, пишите онлайн - ни один наши клиент не останется без внимания!
                </div>
                <div class="large-12 columns">
                    <input placeholder="Ваше Имя">
                </div>
                <div class="large-12 columns">
                    <input placeholder="E-mail или телефон">
                </div>
                <div class="large-12 columns">
                    <button class="button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</section>
<footer>
    <div class="navigation bottom">
        <menu>
            <a href="#catalog">Каталог</a>
            <a href="#boxcomments">Отзывы</a>
            <a href="#scheme">Схема работы</a>
            <a href="#delivery">Доставка</a>
            <a href="#consult">Консультация</a>
            <a href="#delivery">Контакты</a>
        </menu>
    </div>
    <div class="row">
        <div class="columns large-8">© 2016 - 2017  «ЗАКУПКИ СПОРТ». Все права защищены.</div>
        <div class="columns large-8"></div>
    </div>
</footer>
@@include('./templates/modals.html')
@@include('./templates/footer.html')