@@include('./templates/header.html')
<body class="fill">
@@include('./templates/svg.html')
<header>
    <div class="navigation top">
        <menu>
            <a href="#catalog">
                <svg><use xlink:href="#square-all-full"></use></svg>
                Каталог
            </a>
            <a href="#boxcomments">Отзывы</a>
            <a href="#scheme">Схема работы</a>
            <a href="#delivery">Доставка</a>
            <a href="#boxcomments" class="other">Отзывы2</a>
            <a href="#scheme" class="other">Схема работы2</a>
            <a href="#delivery" class="other">Доставка2</a>
            <span class="more">
                Еще<svg><use xlink:href="#icon_dot"></use></svg>
                <nav class="sub">
                    <a href="#boxcomments" class="other">Отзывы2</a>
                    <a href="#scheme" class="other">Схема работы2</a>
                    <a href="#delivery" class="other">Доставка2</a>
                </nav>
            </span>
        </menu>
    </div>
    <div class="row">
        <div class="large-7 columns logo">
            <a href="#">
            </a>
            <h2>Комплектуем  муниципальные и государственные учреждения спортивным оборудованием</h2>
        </div>
        <div class="large-5 columns callbacks">
            <a href="mailto:rt@zakupki-sport.com">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                    <g id="icon_mail">
                        <path d="M22.510,20.997 L1.503,20.997 C0.674,20.997 0.002,20.327 0.002,19.498 L0.002,6.747 L12.006,16.497 L24.010,6.724 L24.010,19.498 C24.010,20.327 23.339,20.997 22.510,20.997 ZM0.002,4.497 C0.002,3.669 0.674,2.997 1.503,2.997 L22.510,2.997 C23.339,2.997 24.010,3.669 24.010,4.497 L12.006,14.247 L0.002,4.497 Z" class="icon"/>
                    </g>
                </svg>
                rt@zakupki-sport.com
                <span>электронная почта</span>
            </a>
            <a href="tel:88003501056">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                    <g id="icon_mail">
                        <path d="M7.999,0.561 L10.749,3.972 C11.258,4.604 11.128,5.502 10.459,5.984 L8.426,7.454 C9.089,8.728 10.340,10.570 11.716,12.275 C13.060,13.942 14.639,15.611 15.764,16.554 L17.798,15.080 C18.464,14.598 19.414,14.716 19.923,15.346 L22.673,18.757 C23.179,19.386 23.050,20.282 22.384,20.764 L18.765,23.382 C17.217,24.502 15.775,23.740 15.775,23.740 C12.791,21.972 10.058,19.692 6.891,15.763 C3.709,11.820 2.119,8.741 1.103,5.549 C1.103,5.549 0.655,4.072 2.256,2.912 L5.877,0.297 C6.543,-0.183 7.490,-0.067 7.999,0.561 Z" class="icon"/>
                    </g>
                </svg>
                8 800 350 10 56
                <span>звонок по РФ бесплатный</span>
            </a>
        </div>
    </div>
</header>
<section class="content-wrap">
    <div class="row">
        <div class="large-12 column">
            <h1>Заголовок</h1>
            Текст
        </div>
    </div>
</section>
<footer>
    <div class="navigation bottom">
        <menu>
            <a href="#catalog">Каталог</a>
            <a href="#boxcomments">Отзывы</a>
            <a href="#scheme">Схема работы</a>
            <a href="#delivery">Доставка</a>
            <a href="#consult">Консультация</a>
            <a href="#delivery">Контакты</a>
        </menu>
    </div>
    <div class="row">
        <div class="columns large-8">© 2016 - 2017  «ЗАКУПКИ СПОРТ». Все права защищены. <span><a href="#" target="_blank">Карта сайта</a></span></div>
        <div class="columns large-8"></div>
    </div>
</footer>
@@include('./templates/modals.html')
@@include('./templates/footer.html')