@@include('./templates/header.html')
<body class="fill">
@@include('./templates/svg.html')
<header>
    <div class="navigation top">
        <menu>
            <a href="#catalog">
                <svg><use xlink:href="#square-all-full"></use></svg>
                Каталог
            </a>
            <a href="#boxcomments">Отзывы</a>
            <a href="#scheme">Схема работы</a>
            <a href="#delivery">Доставка</a>
            <span class="more" href="#">
                Еще<svg><use xlink:href="#icon_dot"></use></svg>
                <nav class="sub">
                    <a href="#consult">Консультация</a>
                    <a href="#delivery">Контакты</a>
                </nav>
            </span>
        </menu>
    </div>
    <div class="row">
        <div class="large-7 columns logo">
            <a href="#">
            </a>
            <h2>Комплектуем  муниципальные и государственные учреждения спортивным оборудованием</h2>
        </div>
        <div class="large-5 columns callbacks">
            <a href="mailto:rt@zakupki-sport.com">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                    <g id="icon_mail">
                        <path d="M22.510,20.997 L1.503,20.997 C0.674,20.997 0.002,20.327 0.002,19.498 L0.002,6.747 L12.006,16.497 L24.010,6.724 L24.010,19.498 C24.010,20.327 23.339,20.997 22.510,20.997 ZM0.002,4.497 C0.002,3.669 0.674,2.997 1.503,2.997 L22.510,2.997 C23.339,2.997 24.010,3.669 24.010,4.497 L12.006,14.247 L0.002,4.497 Z" class="icon"/>
                    </g>
                </svg>
                rt@zakupki-sport.com
                <span>электронная почта</span>
            </a>
            <a href="tel:88003501056">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                    <g id="icon_mail">
                        <path d="M7.999,0.561 L10.749,3.972 C11.258,4.604 11.128,5.502 10.459,5.984 L8.426,7.454 C9.089,8.728 10.340,10.570 11.716,12.275 C13.060,13.942 14.639,15.611 15.764,16.554 L17.798,15.080 C18.464,14.598 19.414,14.716 19.923,15.346 L22.673,18.757 C23.179,19.386 23.050,20.282 22.384,20.764 L18.765,23.382 C17.217,24.502 15.775,23.740 15.775,23.740 C12.791,21.972 10.058,19.692 6.891,15.763 C3.709,11.820 2.119,8.741 1.103,5.549 C1.103,5.549 0.655,4.072 2.256,2.912 L5.877,0.297 C6.543,-0.183 7.490,-0.067 7.999,0.561 Z" class="icon"/>
                    </g>
                </svg>
                8 800 350 10 56
                <span>звонок по РФ бесплатный</span>
            </a>
        </div>
    </div>
</header>
<section class="advantages_slider">
    <div id="advantages_slider" class="row owl-carousel advantages_theme">
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
        <div class="row align-middle">
            <div class="column large-3">
                <div class="icon">
                    <img src="img/icon_advantage_1_blue.png">
                </div>
            </div>
            <div class="column large-9 title">
                Юридическая грамотность
                    <span>
                        Юридическая консультация по ФЗ-44 и ФЗ_223
                    </span>
            </div>
        </div>
    </div>
</section>
<section class="crumbs">
    <div class="row">
        <div class="large-9 columns scheme">
            <a href="#">Главная</a>
            <a href="#">Каталог</a>
            <a href="#">Футбольные ворота</a>
        </div>
        <div class="large-3 columns text-right back">
            <a href="#">
                Вернуться в каталог
                <svg><use xlink:href="#tiny-arrow-right-2"></use></svg>
            </a>
        </div>
    </div>
</section>
<section class="full_card">
    <div class="row">
        <div class="large-6 columns img">
            <img src="img/item.png">
        </div>
        <div class="large-6 columns">
            <div class="title">Ворота для мини футбола</div>
            <div class="price">93 000₽<span>100 000₽</span></div>
            <div class="description">
                Ворота для мини-футбола, гандбола, профиль 80х80 мм (без сетки).
                Сборная конструкция.
                Габаритные размеры: 2080х980х3160 мм.
                Выполнены из профиля 80х80 мм.
                Поставляются в разобранном виде с необходимой фурнитурой.
                Вес: 60 кг.
            </div>
            <form class="row">
                <div class="large-12 columns">
                    Вы можете прямо сейчас оформить заявку на товар
                </div>
                <div class="large-6 columns">
                    <input placeholder="Ваше Имя">
                </div>
                <div class="large-6 columns">
                    <input placeholder="E-mail или телефон">
                </div>
                <div class="large-12 columns">
                    <label>
                        <input type="checkbox">
                        Я согласен на обработку <a href="#">персональных данных</a>
                    </label>
                    <button class="button">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</section>
<div id="start_point" data-ident="200"></div>
<section class="grey catalog">
    <div class="row">
        <div class="large-12 columns simple_title">
            Вместе с этим товаром смотрят
        </div>
    </div>
    <div id="catalog_slider" class="row cards owl-carousel owl-catalog">
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <!--<div class="sale">7%</div>-->
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<!--<span>100 000₽</span>--></div>
                <a class="title">Брусья гимнастические </a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <div class="sale">7%</div>
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<span>100 000₽</span></div>
                <a class="title">Брусья гимнастические мужские</a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="large-3 column">
            <div class="item">
                <!--<div class="sale">7%</div>-->
                <a href="#" class="img">
                    <img src="img/item.png">
                </a>
                <div class="price">93 000₽<!--<span>100 000₽</span>--></div>
                <a class="title">Брусья гимнастические </a>
                <div class="description">Брусья гимнастические мужские, облегченные</div>
                <a href="#" class="button icon">
                    Показать
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M15.273,21.443 L23.429,13.350 C24.175,12.603 24.175,11.395 23.429,10.651 L15.273,2.555 C14.519,1.809 13.300,1.810 12.546,2.555 C11.800,3.301 11.800,4.508 12.546,5.254 L17.320,9.988 L2.011,9.988 C0.906,9.988 0.011,10.885 0.011,11.988 C0.011,13.094 0.906,13.988 2.011,13.988 L17.347,13.988 L12.546,18.746 C11.800,19.492 11.800,20.699 12.546,21.445 C13.300,22.191 14.519,22.190 15.273,21.443 Z" class="icon"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="how_start">
    <div class="row">
        <div class="large-12 columns simple_title">
            Как начать работу с нами
        </div>
    </div>
    <div class="row steps">
        <div class="large-4 columns">
            <div class="step">01<span>шаг</span></div>
            <div class="text">
                Помогаем Вам подобрать инвентарь и оборудование
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">02<span>шаг</span></div>
            <div class="text">
                Предоставляем коммерческие предложения
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">03<span>шаг</span></div>
            <div class="text">
                Составляем договор поставки в соответствии с ФЗ-44 и ФЗ-223
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">04<span>шаг</span></div>
            <div class="text">
                Даём отсрочку платежа до 50 дней
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">05<span>шаг</span></div>
            <div class="text">
                Поставляем вам заказ, где бы вы не находились
            </div>
        </div>
        <div class="large-4 columns">
            <div class="step">06<span>шаг</span></div>
            <div class="text">
                Предоставляем сертификаты соответствия и гарантии на товар до 24 месяцев ФЗ-223
            </div>
        </div>
    </div>
</section>
<div id="stop_point" data-ident="0"></div>
<footer>
    <div class="navigation bottom">
        <menu>
            <a href="#">Каталог</a>
            <a href="#">Отзывы</a>
            <a href="#">Схема работы</a>
            <a href="#">Доставка</a>
            <a href="#">Консультация</a>
            <a href="#">Контакты</a>
        </menu>
    </div>
    <div class="row">
        <div class="columns large-8">© 2016 - 2017  «ЗАКУПКИ СПОРТ». Все права защищены.</div>
        <div class="columns large-8"></div>
    </div>
</footer>
@@include('./templates/footer.html')