@import 'util/util';
html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body.fill {
  margin-top: rem-calc(116);
  height: auto;
}
.sprite {
  display: none;
}
.background {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  .filter {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
section {
  background-color: rgba(255,255,255,1);
  padding-top: rem-calc(60);
}
section.grey {
  background-color: rgba(240,241,243,1);
  .border_title {
    .handler {
      background-color: rgba(240,241,243,1);
    }
  }
}
.simple_title {
  text-align: center;
  font-size: rem-calc(32);
  padding-bottom: rem-calc(50);
}
.free_title {
  text-align: center;
  font-size: rem-calc(32);
  position: absolute;
  left: 50%;
  top: rem-calc(-28);
  transform: translate(-50%,0%);
  background-color: rgba(255,255,255,1);
  padding: rem-calc(0 30);
  display: inline-block;
  width: auto;
  white-space: nowrap;
}
.border_title {
  width: 100%;
  border: solid rem-calc(4) rgba(0,142,251,1);
  padding: rem-calc(30);
  position: relative;
  .handler {
    position: absolute;
    left: 50%;
    top: rem-calc(-28);
    transform: translate(-50%,0%);
    background-color: rgba(255,255,255,1);
    padding: rem-calc(0 30);
  }
}
.border_box {
  border: solid rem-calc(4) rgba(0,142,251,1);
  transition: all 300ms 0ms linear;
}
.scroll_to_top {
  display: none;
  padding: rem-calc(10);
  font-size: rem-calc(14);
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(-90deg);
  position: fixed;
  left: rem-calc(-15);
  color: rgba(0,0,0,1);
  transition: all 300ms 0s linear;
  &:hover {
    cursor: pointer;
    .circle {
      transform: scale(1.05);
    }
  }
  .circle {
    display: inline-block;
    vertical-align: middle;
    margin-left: rem-calc(5);
    width: rem-calc(44);
    height: rem-calc(44);
    border-radius: rem-calc(24);
    background-color: rgba(0,142,251,1);
    transition: all 300ms 0s linear;
    svg {
      width: rem-calc(18);
      height: rem-calc(18);
      margin: rem-calc(13);
    }
  }
}
.scroll_to_top.active {
  display: block;
}
.reveal {
  outline: none;
}
footer {
  background-color: rgb(22,129,223);
  color: rgba(255,255,255,.6);
  font-size: rem-calc(12);
  .row {
    padding: rem-calc(30 0);
  }
  a {
    color: rgba(255,255,255,.6);
    text-decoration: underline;
    &:hover {
      color: rgba(255,255,255,1);
    }
  }
}
#callback-1 {
  padding-top: rem-calc(20);
}
.content-wrap {
  padding: rem-calc(120 0);
}
@import "vendor/owl.carousel";

@import "components/button";
@import "components/header";
@import "components/navigation";
@import "components/firstscreen";
@import "components/advantages";
@import "components/catalog";
@import "components/forms";
@import "components/comments";
@import "components/how_start";
@import "components/for_wrom";
@import "components/delivery";
@import "components/consult";
@import "components/universal";

@import "components/full_card";
@import "components/crumbs";
