.advantages {
  padding-bottom: rem-calc(60);
  .columns {
    margin-bottom: rem-calc(60);
    cursor: default;
  }
  .columns:hover {
    .icon {
      transform: scale(1.2);
    }
  }
  .icon {
    width: rem-calc(78);
    height: rem-calc(78);
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
    margin: 0 auto;
    transition: all 300ms 0s linear;
    img {
      width: rem-calc(42);
      height: rem-calc(42);
      margin: rem-calc(18);
    }

  }
  .title {
    min-height: 0 !important;
    font-weight: 600;
    font-size: rem-calc(18);
    cursor: default;
    span {
      font-weight: 400;
      font-size: rem-calc(16);
      color: rgba(255,255,255,.6);
      line-height: rem-calc(18);
      display: block;
    }
  }
  &.fill {
    .columns {
      text-align: center;
    }
    .icon {
      box-shadow: rem-calc(0 0 11.04 0.96) rgba(0, 0, 1, 0.08);
      margin-bottom: rem-calc(20);
    }
    .title {
      color: rgba(0,0,0,1);
      padding: rem-calc(0 30);
      span {
        color: rgba(0,0,0,1);
      }
    }
  }
}
.advantages_slider {
  position: fixed;
  padding: rem-calc(15 0);
  width: 100%;
  left: 0;
  bottom: rem-calc(-128);
  box-shadow: rem-calc(0 0 11.04 0.96) rgba(0, 0, 1, 0.08);
  z-index: 99;
  transition: all 300ms 0s linear;
  .columns {
    margin-bottom: rem-calc(60);
    cursor: default;
  }
  .columns:hover {
    .icon {
      transform: scale(1.2);
    }
  }
  .icon {
    width: rem-calc(78);
    height: rem-calc(78);
    padding: rem-calc(18);
    margin: rem-calc(10 5);
    border-radius: 50%;
    background-color: rgba(255,255,255,.1);
    box-shadow: rem-calc(0 0 11.04 0.96) rgba(0, 0, 1, 0.08);
    transition: all 300ms 0s linear;
    img {
      width: rem-calc(42);
      height: rem-calc(42);
    }
  }
  .title {
    color: rgba(0,0,0,1);
    padding: rem-calc(0 30);
    font-size: rem-calc(14);
    font-weight: 600;
    line-height: rem-calc(16);
    padding-left: rem-calc(10);
    padding-right: rem-calc(50);
    span {
      color: rgba(0,0,0,1);
    }
  }
}
.advantages_theme .owl-nav {
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  width: 100%;
  height: rem-calc(28);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}
.advantages_theme .owl-nav [class*='owl-'] {
  position: absolute;
  pointer-events: auto;
  height: rem-calc(28);
  svg {
    fill: rgba(0,0,0,1);
    width: rem-calc(28);
    height: rem-calc(28);
  }
}
.advantages_theme .owl-nav [class*='owl-']:hover {
  svg {
    fill: rgba(0,142,251,1);
  }
}
.advantages_theme .owl-nav .owl-prev {
  left: rem-calc(-48);
  svg {
    transform: rotate(180deg);
  }
}
.advantages_theme .owl-nav .owl-next {
  right: rem-calc(-48);
}
.advantages_theme .owl-nav [class*='owl-'].disabled:hover {
  svg {
    fill: rgba(0,0,0,1);
  }
}
.advantages_theme .owl-nav .disabled {
  opacity: 0.3;
  cursor: default; }

.advantages_theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.advantages_theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
.advantages_theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }
.advantages_theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }
.advantages_theme .owl-dots .owl-dot.active span, .advantages_theme .owl-dots .owl-dot:hover span {
  background: #869791; }

.advantages_slider.scroll {
  bottom: 0;
}

.advantages_slider.no_fix {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}