.button {
  background-color: rgba(0,142,251,1);
  color: rgba(255,255,255,1);
  font-weight: 600;
  padding: rem-calc(16 30);
  margin-right: rem-calc(15);
  border-radius: rem-calc(2);
  position: relative;
  outline: none;
  &:hover {
    background-color: rgba(0,121,214,1);
  }
  svg {
    display: none;
    width: rem-calc(18);
    height: rem-calc(18);
    position: absolute;
    left: rem-calc(30);
    top: 0;
    margin: rem-calc(15 0);
    path {
      fill: rgba(255,255,255,1);
    }
  }
}
.button.red {
  background-color: rgba(255,9,45,1) !important;
  &:hover {
    background-color: rgba(217,8,38,1) !important;
  }
}
.button.icon {
  padding-left: rem-calc(55);
  svg {
    display: block;
  }
}
.button.icon.top svg{
  margin: rem-calc(13 0 18);
}
.button.icon.bottom svg{
  margin: rem-calc(18 0 13);
}
.spinner {
  width: rem-calc(50);
  height: rem-calc(15);
  text-align: center;
  font-size: rem-calc(10);
  line-height: rem-calc(15);
  display: inline-block;
  vertical-align: middle;
}
.spinner.load {
  height: rem-calc(15);
}
.spinner > div {
  height: 100%;
  background-color: rgba(255,255,255,.5);
  width: 6px;
  display: inline-block;
}
.spinner.load > div {
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner.load .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner.load .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner.load .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner.load .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4); }
  20% { -webkit-transform: scaleY(1.0); background-color: rgba(255,255,255,1); }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
         background-color: rgba(255,255,255,1);
     }
}