.catalog, .category {
  padding-bottom: rem-calc(30);
  .border_title {
    padding-left: rem-calc(220);
    padding-right: rem-calc(220);
    text-align: center;
    margin-bottom: rem-calc(30);
  }
  .cards {
    .item {
      position: relative;
      width: 100%;
      height: rem-calc(480);
      background-color: rgba(255,255,255,1);
      border: solid rem-calc(1) rgba(232,232,232,1);
      padding: rem-calc(15 35);
      margin-bottom: rem-calc(30);
      .sale {
        position: absolute;
        z-index: 2;
        text-align: center;
        width: rem-calc(42);
        height: rem-calc(42);
        line-height: rem-calc(42);
        color: rgba(255,255,255,1);
        background-color: rgba(255,9,45,1);
        border-radius: rem-calc(21);
        top: rem-calc(15);
        left: rem-calc(15);
        font-weight: 600;
        font-size: rem-calc(14);
        transition: all 300ms 0ms linear;
        cursor: default;
      }
      .img {
        width: 100%;
        height: auto;
        display: block;
        padding: rem-calc(20 0);
        min-height: rem-calc(235);
        img {
          display: block;
          margin: 0 auto;
          width: 100%;
          max-width: rem-calc(200);
          max-height: rem-calc(190);
        }
      }
      .price {
        font-size: rem-calc(20);
        font-weight: 700;
        color: rgba(255,9,45,1);
        line-height: rem-calc(20);
        span {
          font-weight: 400;
          font-size: rem-calc(14);
          color: rgba(0,0,0,.5);
          text-decoration: line-through;
          line-height: rem-calc(20);
          display: block;
          float: right;
        }
      }
      .title {
        display: block;
        font-weight: 700;
        color: rgba(0,0,0,1);
        margin: rem-calc(10 0);
        line-height: rem-calc(18);
        height: rem-calc(36);
        overflow: hidden;
      }
      .description {
        font-size: rem-calc(14);
        line-height: rem-calc(16);
        color: rgba(0,0,0,.6);
        margin-bottom: rem-calc(15);
        height: rem-calc(48);
        overflow: hidden;
      }
      a.button {
        width: 100%;
        margin: 0;
        padding: rem-calc(16 30);
        text-align: center;
        svg {
          display: inline-block;
          position: relative;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: 0;
          width: rem-calc(14);
          height: rem-calc(14);
          margin-left: rem-calc(5);
          vertical-align: middle;
        }
      }
      &:hover {
        .sale {
          transform: scale(1.2);
        }
      }
    }
  }
  button {
    line-height: rem-calc(30);
    font-weight: 600;
    font-size: rem-calc(14);
    outline: none;
    cursor: pointer;
    padding: rem-calc(10 20 10 10) !important;
  }
}

.category {
 .cards {
   text-align: center;
   .item {
     height: auto;
     padding: rem-calc(25);
     .img {
       min-height: 0;
       padding: 0;
     }
     .img img {
       transform: scale(1);
       transition: all 300ms 0ms linear;
     }
   }
 }
  .cards .item:hover {
    .img img {
      transform: scale(0.9);
    }
    .title {
      color: rgba(0,142,251,1);
    }
  }
}


.owl-catalog {
  .owl-item > .column {
    max-width: 100% !important;
    width: 100% !important;
  }
}
.owl-catalog .owl-nav {
  -webkit-tap-highlight-color: transparent;
  position: absolute;
  width: 100%;
  height: rem-calc(28);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  -webkit-tap-highlight-color: transparent; }
.owl-catalog .owl-nav [class*='owl-'] {
  position: absolute;
  pointer-events: auto;
  height: rem-calc(28);
  svg {
    fill: rgba(0,0,0,1);
    width: rem-calc(28);
    height: rem-calc(28);
  }
}
.owl-catalog .owl-nav [class*='owl-']:hover {
  svg {
    fill: rgba(0,142,251,1);
  }
}
.owl-catalog .owl-nav .owl-prev {
  left: rem-calc(-48);
  svg {
    transform: rotate(180deg);
  }
}
.owl-catalog .owl-nav .owl-next {
  right: rem-calc(-48);
}
.owl-catalog .owl-nav [class*='owl-'].disabled:hover {
  svg {
    fill: rgba(0,0,0,1);
  }
}
.owl-catalog .owl-nav .disabled {
  opacity: 0.3;
  cursor: default; }

.owl-catalog .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-catalog .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
.owl-catalog .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline; }
.owl-catalog .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px; }
.owl-catalog .owl-dots .owl-dot.active span, .owl-catalog .owl-dots .owl-dot:hover span {
  background: #869791; }