.consult {
  padding-bottom: rem-calc(75);
  .simple_title {
    padding-bottom: 0;
  }
  .owl-consult {
    height: rem-calc(510);
    position: relative;
    margin-bottom: rem-calc(54);
    min-width: rem-calc(510);
    &:after {
      content: '';
      position: absolute;
      left: rem-calc(35);
      bottom: rem-calc(-4);
      width: 75%;
      height: 75%;
      border: rem-calc(4) solid rgba(0,142,251,1);
      z-index: -1;
    }
    .owl-stage-outer, .owl-stage, .owl-item, .owl-item .row {
      height: 100%;
    }
    .owl-item {
      .container {
        height: 100%;
        position: relative;
      }
      .photo {
        height: 100%;
        width: 50%;
        max-width: rem-calc(270);
        position: relative;
        img {
          position: absolute;
          bottom: 0;
          left: rem-calc(10);
          z-index: 1;
          width: 100%;
        }
      }
      .contact {
        width: rem-calc(240);
        height: auto;
        padding: rem-calc(20);
        position: absolute;
        top: 60%;
        right: 0;
        transform: translate(0%,-40%);
        background-color: rgba(255,255,255,1);
        .name {
          font-size: rem-calc(20);
          font-weight: 500;
          line-height: rem-calc(22);
        }
        .description {
          font-size: rem-calc(14);
          color: rgba(0,0,0,.6);
        }
        .phone {
          font-size: rem-calc(18);
          font-weight: 500;
          margin-top: rem-calc(15);
          svg {
            display: inline-block;
            vertical-align: middle;
            width: rem-calc(16);
            height: rem-calc(16);
          }
        }
      }
    }
  }
  form {
    margin-bottom: rem-calc(50);
    input {
      border: rem-calc(1) solid rgba(0,0,0,.1);
      margin: rem-calc(10 0);
    }
    button {
      width: 100%;
      text-align: center;
      margin: rem-calc(20 0);
    }
  }
  .owl-consult .owl-nav {
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    width: 75%;
    bottom: rem-calc(20);
    left: 0;
    pointer-events: none;
    text-align: right;
  }
  .owl-consult .owl-nav [class*='owl-'] {
    display: inline-block;
    pointer-events: auto;
    margin-left: rem-calc(10);
    svg {
      fill: rgba(0,0,0,1);
      width: rem-calc(28);
      height: rem-calc(28);
    }
  }
  .owl-consult .owl-nav [class*='owl-']:hover {
    svg {
      fill: rgba(0,142,251,1);
    }
  }
  .owl-consult .owl-nav .owl-prev {
    left: rem-calc(-48);
    svg {
      transform: rotate(180deg);
    }
  }
  .owl-consult .owl-nav .owl-next {
    right: rem-calc(-48);
  }
  .owl-consult .owl-nav [class*='owl-'].disabled:hover {
    svg {
      fill: rgba(0,0,0,1);
    }
  }
  .owl-consult .owl-nav .disabled {
    opacity: 0.3;
    cursor: default; }

  .owl-consult .owl-nav.disabled + .owl-dots {
    margin-top: 10px; }

  .owl-consult .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent; }
  .owl-consult .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }
  .owl-consult .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px; }
  .owl-consult .owl-dots .owl-dot.active span, .owl-consult .owl-dots .owl-dot:hover span {
    background: #869791; }
}
