.delivery {
  padding-top: 0;
  .map {
    width: 100%;
    height: rem-calc(520);
    background-color: rgba(0,0,0,.2);
  }
  .contacts {
    min-width: 100%;
    .general {
      background-color: rgba(0,142,251,1);
      color: rgba(255,255,255,1);
      min-height: 100%;
      padding: rem-calc(50);
      .title {
        margin-bottom: rem-calc(15);
        text-transform: uppercase;
        font-weight: 500;
      }
      .item {
        font-size: rem-calc(14);
        color: rgba(255,255,255,.6);
        font-weight: 500;
        margin-bottom: rem-calc(15);
        .content {
          font-size: rem-calc(16);
          color: rgba(255,255,255,1);
          padding-left: rem-calc(24);
          a {
            color: rgba(255,255,255,1);
          }
        }
        svg {
          width: rem-calc(16);
          height: rem-calc(16);
          fill: rgba(255,255,255,1);
          display: inline-block;
          vertical-align: middle;
          margin-right: rem-calc(5);
        }
      }
      .item:last-child {
        margin-bottom: 0;
      }
    }
    .others {
      .columns {
        padding: rem-calc(55 30);
        border-top: rem-calc(1) solid rgba(0,0,0,.05);
        border-right: rem-calc(1) solid rgba(0,0,0,.05);
        svg {
          display: inline-block;
          vertical-align: middle;
          fill: rgba(0,142,251,1);
          margin-right: rem-calc(5);
        }
        .city {
          font-weight: 500;
          margin-bottom: rem-calc(10);
          color: rgba(0,0,0,.6);
          span {
            font-size: rem-calc(12);
            font-weight: 400;
            color: rgba(255,9,45,.6);
            border-bottom: rem-calc(1) dashed rgba(255,9,45,.6);
            line-height: rem-calc(16);
            margin-left: rem-calc(10);
            margin-top: rem-calc(4);
            vertical-align: top;
            display: inline-block;
            &:hover {
              color: rgba(255,9,45,1);
              border-bottom: rem-calc(1) dashed rgba(255,9,45,1);
              cursor: pointer;
            }
          }
          svg {
            width: rem-calc(16);
            height: rem-calc(16);
          }
        }
        .phone {
          font-size: rem-calc(18);
          line-height: rem-calc(18);
          font-weight: 500;
          svg {
            width: rem-calc(14);
            height: rem-calc(14);
          }
        }
      }
      .columns:nth-child(3n) {
        border-right: rem-calc(1) solid rgba(0,0,0,0);
      }
      .columns:nth-child(-n+3) {
        border-top: rem-calc(1) solid rgba(0,0,0,0);
      }
    }
  }
}