section.firstscreen {
  width: 100%;
  min-height: 100%;
  color: rgba(255,255,255,1);
  background-color: transparent;
  padding-top: rem-calc(200);
  position: relative;
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    width: 100%;
    height: rem-calc(240);
    background-image: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.9) 100%);
    top: 0;
    left: 0;
  }
  .title {
    .column {
      padding-top: rem-calc(50);
      padding-bottom: rem-calc(50);
    }
    h1 {
      font-size: rem-calc(48);
      line-height: rem-calc(48);
      cursor: default;
    }
    .description {
      margin: rem-calc(20 0);
      cursor: default;
    }
  }
  &.on_advantages {
    .filter {
      overflow-y: scroll;
    }


  }
}
