.form {
  padding-top: rem-calc(90);
  padding-bottom: rem-calc(60);
  .description {
    position: relative;
    padding: 0;
  }
  .container {
    background-color: rgba(0,142,251,1);
    color: rgba(255,255,255,1);
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: rem-calc(30);
    bottom: 0;
    padding: rem-calc(45);
    transition: all 300ms 0ms linear;
    font-weight: 500;
    .title {
      font-size: rem-calc(24);
      line-height: rem-calc(26);
      margin-bottom: rem-calc(20);
    }
    .ul {
      margin: 0;
      padding: 0;
      li {
      }
    }
  }
  .inputs {
    padding: rem-calc(30 30 30 60);
  }
  &:hover {
    .border_box {
      background-color: rgba(0,142,251,1);
      color: rgba(255,255,255,1);
    }
    .container {
      background-color: rgba(255,255,255,1) !important;
      color: rgba(0,0,0,1);
    }
    label {
      color: rgba(255,255,255,1);
      a {
        color: rgba(255,255,255,1);
      }
    }
    .button {
      background-color: rgba(51,165,252,1);
      box-shadow: rem-calc(0 3 8 0) rgba(0,0,0,.1);
      &:hover {
        background-color: rgba(31,157,254,1);
      }
    }
    .phone {
      color: rgba(0,0,0,1);
      span {
        color: rgba(0,0,0,1);
      }
      svg .icon {
        fill: rgba(0,142,251,1);
      }
    }
  }
  .button {
    width: 100%;
    margin: rem-calc(0 0 0 0);
  }
  form {
    margin-top: rem-calc(15);
  }
  .phone {
    display: inline-block;
    position: relative;
    font-size: rem-calc(18);
    font-weight: 600;
    color: rgba(255,255,255,1);
    padding-left: rem-calc(28);
    margin-top: rem-calc(2);
    span {
      position: absolute;
      right: 0;
      bottom: rem-calc(-12);
      font-size: rem-calc(12);
      font-weight: 400;
      line-height: rem-calc(12);
      white-space: nowrap;
      color: rgba(255,255,255,.7);
    }
    svg {
      display: block;
      position: absolute;
      left: 0;
      top: rem-calc(2);
      width: rem-calc(18);
      .icon {
        fill: rgba(255,255,255,1);
      }
    }
  }
}
input {
  width: 100%;
  height: rem-calc(48);
  line-height: rem-calc(48);
  border-radius: rem-calc(2);
  border: none;
  padding: rem-calc(0 20);
}
input:focus {
  outline: none;
  box-shadow: rem-calc(0 0 11.04 0.96) rgba(0, 0, 1, 0.15);
}
input::-webkit-input-placeholder {
  font-size: rem-calc(14);
  color: rgba(0,0,0,.6);
}
label {
  margin-top: rem-calc(20);
  a {
    text-decoration: underline;
  }
}
input[type="checkbox"]{
  width: rem-calc(16);
  height: rem-calc(16);
  display: inline-block;
  vertical-align: text-top;
  margin-right: rem-calc(4);
}