.full_card {
  .img img {
    width: 100%;
    max-width: rem-calc(400);
    display: block;
    margin: 0 auto;
  }
  .title {
    font-size: rem-calc(24);
    font-weight: 500;
    margin-bottom: rem-calc(15);
  }
  .price {
    font-size: rem-calc(20);
    font-weight: 700;
    color: rgba(255,9,45,1);
    line-height: rem-calc(20);
    margin-bottom: rem-calc(15);
    span {
      font-weight: 400;
      font-size: rem-calc(14);
      color: rgba(0,0,0,.5);
      text-decoration: line-through;
      line-height: rem-calc(20);
      margin-left: rem-calc(15);
    }
  }
  .description {
    color: rgba(0,0,0,.6);
  }
  form {
    margin-top: rem-calc(25);
    margin-bottom: rem-calc(50);
    padding-top: rem-calc(25);
    border-top: rem-calc(1) solid rgba(0,0,0,.1);
    input {
      border: rem-calc(1) solid rgba(0,0,0,.1);
      margin: rem-calc(15 0);
    }
    label input {
      margin: 0;
    }
    button {
      width: 100%;
      text-align: center;
      margin: rem-calc(20 0);
    }
  }
}