header {
  width: 100%;
  padding: rem-calc(90 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255,255,255,0);
  .logo {
    text-align: left;
    z-index: -1;
  }
  .logo a {
    display: inline-block;
    width: rem-calc(142);
    height: rem-calc(44);
    background-image: url("../img/logo-white.png");
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
  }
  .logo h2 {
    display: inline-block;
    color: rgba(255,255,255,1);
    font-size: rem-calc(14);
    font-weight: 600;
    max-width: rem-calc(360);
    vertical-align: middle;
    line-height: rem-calc(16);
    margin: rem-calc(0 0 0 30);
    cursor: default;
  }
  .callbacks {
    text-align: right;
    z-index: 2;
  }
  .callbacks a {
    display: inline-block;
    position: relative;
    font-size: rem-calc(18);
    font-weight: 600;
    color: rgba(255,255,255,1);
    padding-left: rem-calc(28);
    margin-left: rem-calc(30);
    margin-top: rem-calc(2);
    span {
      position: absolute;
      right: 0;
      bottom: rem-calc(-12);
      font-size: rem-calc(12);
      font-weight: 400;
      line-height: rem-calc(12);
      white-space: nowrap;
      color: rgba(255,255,255,.7);
    }
    svg {
      display: block;
      position: absolute;
      left: 0;
      top: rem-calc(2);
      width: rem-calc(18);
      .icon {
        fill: rgba(255,255,255,1);
      }
    }
  }
}
header.scroll {
  position: fixed;
  padding: rem-calc(8 0);
  .logo  {
    opacity: 0;
  }
  .logo h2 {
    color: rgba(0,0,0,0);
  }
  .callbacks a {
    span {
      opacity: 0;
    }
    svg {
      .icon {
        fill: rgba(0,0,0,.35);
      }
    }
  }
}
body.fill header {
  background-color: rgba(255,255,255,1);
  color: rgba(0,0,0,1);
  box-shadow: rem-calc(0 0 11.04 0.96) rgba(0, 0, 1, 0.08);
  padding-bottom: rem-calc(50);
  &.scroll {
    padding: rem-calc(8 0);
    box-shadow: rem-calc(0 0 11.04 0.96) rgba(0, 0, 1, 0);
    .callbacks a {
      color: rgba(255,255,255,1);
      span {
        opacity: 0;
      }
      svg {
        .icon {
          fill: rgba(0,0,0,.35);
        }
      }
    }
  }
  .logo a {
    background-image: url("../img/logo-black.png");
  }
  h2 {
    color: rgba(0,0,0,1);
  }
  .callbacks a {
    color: rgba(0,0,0,1);
    span {
      color: rgba(0,0,0,.3);
    }
    svg {
      .icon {
        fill: rgba(0,142,251,1);
      }
    }
  }
}