.how_start {
  .steps {
    padding: rem-calc(0 75);
    .columns {
      margin-bottom: rem-calc(50);
    }
    .step {
      font-weight: 900;
      font-size: rem-calc(72);
      color: rgba(51,165,252,1);
      line-height: rem-calc(72);
      position: relative;
      span {
        display: inline-block;
        font-size: rem-calc(12);
        line-height: rem-calc(14);
        vertical-align: baseline;
        font-weight: 600;
        color: rgba(0,0,0,.6);
        text-transform: uppercase;
        padding-left: rem-calc(6);
      }
    }
    .text {
      font-weight: 700;
    }
  }
}