.navigation {
  width: 100%;
  background-color: rgba(0,142,251,1);

  menu {
    width: 100%;
    max-width: rem-calc(1200);
    padding: rem-calc(0 15);
    margin: 0 auto;
  }
  menu a, menu span {
    display: inline-block;
    padding: rem-calc(18 14);
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,1);
    transition: background-color 300ms 0ms linear;
    position: relative;
    &:hover {
      background-color: rgba(0,0,0,.1);
    }
    svg {
      width: rem-calc(12);
      height: rem-calc(12);
      display: inline-block;
      vertical-align: middle;
      margin-bottom: rem-calc(2);
      margin-right: rem-calc(5);
      fill: rgba(255,255,255,1);
    }
  }
  menu a:first-child{
    padding-left: 0;
    position: relative;
    &:before {
      content: '';
      width: rem-calc(14);
      height: 100%;
      position: absolute;
      left: rem-calc(-14);
      top: 0;
      transition: background-color 300ms 0ms linear;
      background-color: rgba(0,0,0,0);
    }
    &:hover:before {
      background-color: rgba(0,0,0,.1);
    }
  }
  menu span.more {
    display: none;
    svg {
      margin-left: rem-calc(3);
    }
    nav.sub {
      min-width: rem-calc(180);
      position: absolute;
      top: rem-calc(51);
      left: 0;
      background-color: rgb(22,129,223);
      opacity: 0;
      visibility: hidden;
      z-index: 0;
      a {
        padding: rem-calc(18 24);
        display: block;
        color: rgba(255,255,255,.7);
        &:hover {
          color: rgba(255,255,255,1);
        }
      }
      a:first-child:before{
        background-color: rgba(0,0,0,0);
      }
    }
    &:hover {
      nav.sub {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  menu.scroll {
    span.more {
      display: inline-block;
    }
    a.other {
      display: none;
    }
  }
  nav.sub a:first-child{
    &:hover:before {
      background-color: rgba(0,0,0,0)!important;
    }
  }
}
.navigation.top {
  box-shadow: rem-calc(0 0 15 5) rgba(0, 0, 0, .20);
  margin-top: rem-calc(0);
  position: fixed;
  top: 0;
  left: 0;
}
.navigation.bottom {
  menu a {
    padding: rem-calc(40 24);
  }
}